<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>IGN 20 Years of Gaming</title>
        <link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-0.12.4.min.css" type="text/css" />
        <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-0.12.4.min.js"></script>
        <style>
            body {
                text-align: center;
            }
            .bk-plot-layout {
                display: inline-block;
            }
            .bk-grid-column {
                display: inline-block;
            }
            .section-divide {
                border-top: solid lightgray 1px;
                padding-top: 10px;
            }
            .section-level-1 {
                margin-bottom: 120px;
            }
            .section-level-2 {
                margin-bottom: 80px;
            }

            p {
                margin: 0;
            }
        </style>
    </head>
    <body>
        <h1>20 Years of Gaming: A Complete Review</h1>
        <div class="section-level-1">
            <h2 class="section-divide">总体情况</h2>

            <div class="section-level-2">
                <h3>游戏评分</h3>
                <p>从1996到2016年，一共有{{ total_num_games }}款游戏。</p>
                {{ grid_total_score_and_phrase }}
            </div>

            <div class="section-level-2">
                <h3>游戏平台</h3>
                <p>{{ total_num_platform }}个不同的游戏平台</p>
                {{ grid_total_platform }}
            </div>

            <div class="section-level-2">
                <h3>游戏类型</h3>
                <p>{{ total_num_genre }}个不同的游戏类型</p>
                {{ grid_total_genre }}
            </div>

            <div class="section-level-2">
                <h3>发布时间</h3>
                {{ grid_total_release_time }}
            </div>
        </div>
        <div class="section-level-1">
            <h2 class="section-divide">游戏平台趋势</h2>
            {{ platform_trend }}
        </div>
        <div class="section-level-1">
            <h2 class="section-divide">游戏类型趋势</h2>
            目前Bokeh有一个Bug，以后再说吧
        </div>
{#        <p>5014 Games from 2010 to 2016</p>#}
{#        {{ plot_platform }}#}
{#        <p>#}
{#            我们可以看到，PC仍然是最具活力的游戏平台。PS与XBox平分秋色，但是略胜一筹。<br>#}
{#            iPhone不出意外地是最流行的游戏平台之一。Android并不是2010年以来最流行的游戏平台。#}
{#        </p>#}
{##}
{#        {{ plot_genre }}#}
{#        {{ plot_editors_choice }}#}
        {{ script }}
    </body>
</html>