<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>IGN 20 Years of Games</title>
        <link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-0.12.4.min.css" type="text/css" />
        <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-0.12.4.min.js"></script>
        <style>
            body {
                text-align: center;
            }
            .bk-plot-layout {
                display: inline-block;
            }

        </style>
    </head>
    <body>
        <div>
            <p>20 Years of Gaming: A Complete Review a All IGN Reviewed Games</p>
        </div>
        <div>
            {{ plot_platform }}
        </div>
        {{ plot_genre }}
        {{ plot_editors_choice }}
        {{ script }}
    </body>
</html>